<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reghao.im.db.mapper.ChatDialogMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into chat_dialog
        (`id`,`deleted`,`create_time`,`update_time`,`chat_type`,`is_disturb`,`is_online`,`is_robot`,`is_top`,`sender_id`,`receiver_id`,`unread_num`,`update_at`,`msg_text`)
        values 
        (#{id},#{deleted},#{createTime},#{updateTime},#{chatType},#{isDisturb},#{isOnline},#{isRobot},#{isTop},#{senderId},#{receiverId},#{unreadNum},#{updateAt},#{msgText})
    </insert>
    
    <select id="findBySenderAndReceiverId" resultType="cn.reghao.im.model.po.ChatDialog">
        select * from chat_dialog where sender_id=#{senderId} and receiver_id=#{receiverId}
    </select>
    <select id="findBySenderId" resultType="cn.reghao.im.model.po.ChatDialog">
        select * from chat_dialog where sender_id=#{senderId}
    </select>
</mapper>
