<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reghao.im.db.mapper.FileMessageMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into file_message
        (`id`,`deleted`,`create_time`,`update_time`,`record_id`,`filename`,`suffix`,`size`,`file_type`,`url`,`drive`,`source`)
        values 
        (#{id},#{deleted},#{createTime},#{updateTime},#{recordId},#{filename},#{suffix},#{size},#{fileType},#{url},#{drive},#{source})
    </insert>

    <select id="findByRecordId" resultType="cn.reghao.im.model.po.FileMessage">
        select * from file_message where record_id=#{recordId}
    </select>
</mapper>
