<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reghao.im.db.mapper.TextMessageMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into text_message
        (`id`,`deleted`,`create_time`,`update_time`,`record_id`,`content`)
        values 
        (#{id},#{deleted},#{createTime},#{updateTime},#{recordId},#{content})
    </insert>

    <select id="findByRecordId" resultType="cn.reghao.im.model.po.message.TextMessage">
        select * from text_message where record_id=#{recordId}
    </select>
</mapper>
