<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reghao.im.db.mapper.TextMessageMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into text_message
        (`id`,`deleted`,`create_time`,`update_time`,`chat_id`,`sender_id`,`create_at`,`text`)
        values 
        (#{id},#{deleted},#{createTime},#{updateTime},#{chatId},#{senderId},#{createAt},#{text})
    </insert>
    
    <select id="findByChatId" resultType="cn.reghao.im.model.po.TextMessage">
        select * from text_message where chat_id=#{chatId} and id>#{lastRecordId}
        order by id limit #{limit}
    </select>
</mapper>
