<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reghao.im.db.mapper.UserProfileMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into user_profile
        (`id`,`deleted`,`create_time`,`update_time`,`user_id`,`nickname`,`gender`,`motto`,`avatar`,`online`)
        values 
        (#{id},#{deleted},#{createTime},#{updateTime},#{userId},#{nickname},#{gender},#{motto},#{avatar},#{online})
    </insert>

    <update id="updateSetStatus">
        update user_profile set online=#{online} where user_id=#{userId}
    </update>
    <update id="updateSetAvatar">
        update user_profile set avatar=#{avatar} where user_id=#{userId}
    </update>

    <select id="findByMobile" resultType="cn.reghao.im.model.po.UserProfile">
        select * from user_profile userProfile
        inner join user_account userAccount
        on userProfile.user_id=userAccount.user_id and userAccount.mobile=#{mobile}
    </select>
    <select id="findByUserId" resultType="cn.reghao.im.model.po.UserProfile">
        select * from user_profile where user_id=#{userId}
    </select>
    <select id="findUserInfoByUserId" resultType="cn.reghao.im.model.dto.user.UserInfo">
        select user_id as uid,nickname,gender,motto,avatar from user_profile where user_id=#{userId}
    </select>
    <select id="findDialogFriendInfo" resultType="cn.reghao.im.model.dto.chat.ChatUserInfo">
        select userProfile.user_id as receiverId,userProfile.nickname as name,userProfile.avatar,
        userProfile.online as isOnline,userContact.remark as remarkName
        from user_profile userProfile
        inner join user_contact userContact
        on userProfile.user_id=userContact.friend_id and userContact.user_id=#{userId} and userProfile.user_id=#{friendId}
    </select>
</mapper>
