<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.reghao.im.db.mapper.UserAccountMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into user_account
        (`id`,`deleted`,`create_time`,`update_time`,`user_id`,`mobile`,`password`,`platform`)
        values 
        (#{id},#{deleted},#{createTime},#{updateTime},#{userId},#{mobile},#{password},#{platform})
    </insert>

    <select id="findByMaxUserId" resultType="java.lang.Long">
        select user_id from user_account order by user_id desc limit 1
    </select>
    <select id="findByMobile" resultType="cn.reghao.im.model.po.UserAccount">
        select * from user_account where mobile=#{mobile}
    </select>
    <select id="findMobileByUserId" resultType="java.lang.String">
        select mobile from user_account where user_id=#{userId}
    </select>
</mapper>
